@import url(./about-me.css);
@import url(./description.css);

:root{
    --fontBase: 'Poppins', sans-serif;
    --dark-blue: #310a90;
    --my-color: violet;
}

.header{
    background-color: aqua;
}

body{
    /**/
    font-family: var(--fontBase);
    color: var(--dark-blue);
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.log_p{
    display: inline;
    padding-left: 200px;
}

#logo{
    display: inline;
    margin-left: 90px;
}
